alembic~=1.4.3
Authlib~=1.2.1
fastapi~=0.100.0
celery~=5.3.1
redis~=4.6.0
httpx~=0.24.1
ipython~=8.14.0
itsdangerous~=2.1.2
Jinja2~=3.1.2
psycopg2~=2.9.0
pytest~=7.4.0
requests~=2.31.0
SQLAlchemy~=2.0.18
uvicorn~=0.22.0
passlib~=1.7.4
bcrypt~=4.0.1
sqlalchemy-utils~=0.41.1
python-multipart~=0.0.6
pyjwt~=2.7.0
email-validator~=2.0.0.post2